@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1rem;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0px auto;
    padding: 1rem 2rem;
}

.flex1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav li {
    list-style-type: none;

}

.nav a {
    text-decoration: none;
    font-size: 1.25rem;
    font-family: Poppins;
    color: black;
    font-weight: 700;
    padding: 1.125rem;
}

.icn a {
    padding: 0.3125rem;
    font-size: 1.5625rem;
}

.class1 {
    background: url("images/laptop.png");
    background-size: cover;
    /* height: 350px; */
    width: 100%;
    padding-bottom: 9.375rem;
}

h1 {
    color: #FFF;
    font-family: Poppins;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 6.25rem;
    text-align: center;
}

h2 {
    color: #CB00FF;
    font-family: Poppins;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.class1 p {
    text-align: center;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    color: white;
}

.btn {
    font-family: Poppins;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0.625rem 1rem;
    display: inline-block;
    margin-top: 1.25rem;
    text-decoration: none;
    border-radius: 0.75rem;
    background-color: #CB00FF;
    color: white;
}

/* main */
img {
    width: 100%;
    height: 100%;
}

.mysec1 {
    background-color: #FFEFFF;
    margin-top: 1rem;
    border-radius: 1.25rem;
}

.abt-txt h3 {
    color: #31043D;
    font-family: Poppins;
    font-size: 1.875remrem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.abt-txt p {
    color: #31043Dab;

    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.color {
    color: var(--Primery-color, #CB00FF);
    /* Light Text */
    font-family: Poppins;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal
}

.section2 p {
    font-family: Poppins;
    font-style: normal;
    line-height: normal;
}

.section2 h3 {
    color: #31043D;
    font-family: Poppins;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.flex3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.flex2 {
    display: flex;
    gap: 1.125rem;
    align-items: center;
    padding-top: 1rem;
}

.mysec1 .txt2 p {
    padding-top: 1rem;
    color: #31043Dab;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}


/* media query */
@media screen and (max-width:875px) {

    .nav a,
    .icn a {
        display: none;
    }

    .class2 {
        padding: 1rem;
    }

    .pad {
        padding-top: 2rem;
    }
}